.text-onPrimaryMedium {
  color: rgba(var(--v-theme-onPrimaryMedium), 0.72);
}

.text-onPrimarySoftMedium {
  color: rgba(var(--v-theme-onPrimarySoftMedium), 0.72);
}

.text-onSecondaryMedium {
  color: rgba(var(--v-theme-onSecondaryMedium), 0.72);
}

.text-onSecondarySoftMedium {
  color: rgba(var(--v-theme-onSecondarySoftMedium), 0.8);
}

.text-onSecondarySoftMedium {
  color: rgba(var(--v-theme-onSecondarySoftMedium), 0.8);
}

.text-onSecondarySoftMedium {
  color: rgba(var(--v-theme-onSecondarySoftMedium), 0.8);
}
