@use '../typography';
// .v-btn {
//   :not(.v-btn--variant-icon) {
//     font-size: 0.875rem !important;
//     line-height: 1.3125rem !important;
//     font-weight: 600;
//   }
.v-btn--variant-outlined {
  border-color: rgb(var(--v-theme-strokeDark)) !important;
}
//   &.bg-secondary {
//     background: var(--v-theme-gradient);
//     color: rgb(var(--v-theme-onSecondaryHigh)) !important;
//   }
//   &:disabled {
//     background: rgb(var(--v-theme-primarySoft)) !important;
//     color: rgb(var(--v-theme-onSurfaceDisabled)) !important;
//   }
//   &:is(.v-btn--size-small) {
//     .v-btn__content {
//       font-size: 0.75rem !important;
//       font-weight: 500 !important;
//     }
//   }
// }

.v-btn--disabled {
  opacity: 1 !important;
  background: rgb(var(--v-theme-primarySoft)) !important;
  color: rgb(var(--v-theme-onSurfaceDisabled)) !important;
}

.v-btn {
  text-transform: none !important;
  @extend .text-bodyMedium;
  font-weight: 400;
}
// .v-btn--icon.v-btn--density-default {
//   width: calc(var(--v-btn-height) + 6px);
//   height: calc(var(--v-btn-height) + 6px);
// }

// .v-btn-group .v-btn {
//   height: inherit !important;
// }
