.v-table .v-table__wrapper > table {
  thead > tr > th {
    border-bottom: 1px solid rgb(var(--v-theme-strokeDark)) !important;
    color: rgb(var(--v-theme-onPrimarySoftMedium)) !important;
    font-size: 14px !important;
    line-height: 21px !important;
    font-family: inherit;
    font-weight: 400 !important;
    letter-spacing: 0.25px !important;
  }
  tbody > tr {
    transition: background-color 0.3s ease;
    &:hover {
      background-color: rgba(var(--v-theme-secondary), 0.05);
    }
    &:last-of-type > td {
      border-bottom: none !important;
    }
    td {
      border-bottom: 1px solid rgb(var(--v-theme-strokeDark)) !important;
    }
  }
}

.v-data-table__tr:has(input[type='checkbox']:checked) {
  background-color: rgba(var(--v-theme-secondary), 0.05);  
}

.v-data-table--loading .v-table__wrapper > table {
  tbody > tr:hover {
    background-color: transparent !important;
  }
}

.v-table .v-data-table-rows-no-data {
  background-color: transparent !important;
}