.v-list-item--variant-outlined {
  border: 1px solid rgb(var(--v-theme-strokeDark)) !important;
  &:is(.v-list-item--active) {
    
    border: 1.5px solid rgb(var(--v-theme-secondary)) !important;
  }
  .v-list-item__overlay {
    display: none;
  }
}
